@import ~globals.sass


//Formatting for the section holding the actual content
#main
  position: relative
  background: $background_color
  height: 100%
  z-index: 1

//set some styling to the header container so shape can be inherited  
app-header
  position: relative
  width: 100%
  height: 110px
  background: $background_color
  z-index: 1

//set some styling to the navigation bar container so shape can be inherited  
nav-bar
  position: relative
  width: 100%
  height: 40px
  z-index: 1

//set some styling to the footer container so shape can be inherited  
app-footer
  position: relative
  width: 100%
  height: 30px
  background: $background_color_2
  z-index: 1