<!-- Home wrapper, show either a sequence of images or a video, based on https://www.hirezstudios.com/ -->
<div class="homeWrapper" fxLayout="column" fxLayoutAlign="center center">
    <video autoplay>
      <source src="/assets/videos/videoplayback.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <!-- semi-transparent square holding the logo, centered -->
    <div class="logoBackGround">
        <!-- actual logo -->
        <div class="logo"></div>
    </div>
</div>