<!-- Home wrapper, show either a sequence of images or a video, based on https://www.hirezstudios.com/ -->
<div class="homeWrapper" fxLayout="column" fxLayoutAlign="center center">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FqnKB22pOC0?rel=0&amp;controls=0&amp;showinfo=0&amp;mute=1&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
    <!-- semi-transparent square holding the logo, centered -->
    <div class="logoBackGround">
        <!-- actual logo -->
        <div class="logo"></div>
    </div>
</div>